@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
  h1 {
    @apply font-semibold;
  }
}

.container-1200 {
  @apply w-full lg:max-w-[1200px] p-2;
}

.page-container {
  @apply pt-[90px] min-h-[80vh];
}

.dark-bg {
  @apply bg-[#11190c];
}

.dark-text{
  @apply text-[#11190c]
}

 .light-text{
  @apply text-gray-500
 }

 .extra-light-text{
  @apply text-gray-50
 }

 .light-bg{
  @apply bg-gray-500
 }
  
.header-btn {
  @apply flex items-center bg-primary text-white p-1.5 sm:p-2.5 rounded hover:brightness-125 hover:shadow-md;
}

.mobile-menu-container{
  @apply absolute flex flex-col items-start gap-8 top-0 left-0 bg-white z-20 h-[100vh] w-[100vw] p-8;
}

.mobile-sub-menu {
  @apply w-full;
}

.sub-menu {
  @apply absolute top-[40px] -left-[140px] shadow-lg rounded-md w-[400px];
}


.sub-menu::after {
  content: "";
  display: inline-block;
  background: url("./assets/svgs/triangle.svg") no-repeat;
  position: absolute !important;
  top: -33px !important;
  width: 46px;
  left: 180px;
  height: 41px;
  clear: both;
  z-index: 99999 !important;
}

.primaryFont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
  
.header-3{
   @apply leading-8 sm:leading-10 tracking-wide text-2xl sm:text-3xl font-bold
}

.header-4{
  @apply leading-8  sm:leading-10 tracking-wide text-2xl font-bold
}

.service-img{
  @apply w-full h-[350px] sm:h-[400px] md:w-[500px] object-contain
}

.custom-title {
  font-size: 16px; 
}
  
.custom-text {
  font-size: 12px; 
}


/* Social Icons */


.social-login-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
}
.social-login-icons svg {
  width: 40px;
}

.social-icon-1,
.social-icon-1-1,
.social-icon-2,
.social-icon-2-2,
.social-icon-3,
.social-icon-3-3,
.social-icon-4,
.social-icon-4-4 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin: 20px 0 0px 0;
}

.icon svg {
  fill: #e8e3e329;
}

.socialcontainer {
  height: 80px;
  overflow: hidden;
}
.social-icon-1 {
  transition-duration: 0.4s;
  background: #316ff6;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
}
.social-icon-1 svg,
.social-icon-2 svg,
.social-icon-3 svg,
.social-icon-4 svg {
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}
.social-icon-1-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0, 0);
}
.socialcontainer:hover .social-icon-1 {
  transform: translateY(-70px);
}
.socialcontainer:hover .social-icon-1 svg,
.socialcontainer:hover .social-icon-2 svg,
.socialcontainer:hover .social-icon-3 svg,
.socialcontainer:hover .social-icon-4 svg {
  opacity: 1;
}
.social-icon-2 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: linear-gradient(
    72.44deg,
    #ff7a00 11.92%,
    #ff0169 51.56%,
    #d300c5 85.69%
  );
}
.socialcontainer:hover .social-icon-2 {
  transform: translateY(-70px);
}
.social-icon-3 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: #316ff6;
}

.socialcontainer:hover .social-icon-3 {
  transform: translateY(-70px);
}
.social-icon-4 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);

  background: linear-gradient(
    180deg,
    rgba(129, 34, 144, 1) 0%,
    rgba(77, 34, 124, 1) 91%
  );
}

.socialcontainer:hover .social-icon-4 {
  transform: translateY(-70px);
}

